$white: #f4f7f6;
$baby-blue: #1DC1D1;

.header {
  background-color: $white;
  display: flex;
  position: sticky;
}

.header-title {
  flex: 1;
  padding: 1.5rem 1rem;
  text-align: center;
}

.header-title__link {
  color: $baby-blue;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  text-decoration: none;
}