<section class="container">
  <h1 class="page-title">
    Login
  </h1>
  
  <form class="form" [formGroup]="authForm">
    <div class="input-container">
      <label class="label" for="email">
        E-Mail
      </label>
      <input
        type="text"
        class="text-input"
        id="email"
        required
        name="email"
        formControlName="email"
      />
    </div>
    
    <div class="input-container">
      <label class="label" for="password">
        Password
      </label>
      <input 
        class="text-input"
        id="password"
        formControlName="password"
        name="password"
        required
        type="password"
        />
    </div>
  
    <button 
      class="button" 
      type="submit" 
      (click)="onSubmit(authForm)"
      [disabled]="!authForm.valid">Login</button>
  </form>
</section>
