$pink: #D11D67;
$white: #fff;

.hero {
  height: 100%;
  background: $pink;
  color: $white;
  display: flex;
  align-items: center;
}

.hero-title {
  margin: 0;
  font-size: 3rem;
  padding: 0 1.5rem;
  letter-spacing: 6px;
  font-family: 'Raleway', sans-serif;
  
  @media all and (min-width: 400px) {
    font-size: 4rem;
  }
}