<section class="container">
  <app-message></app-message>

  <h1 class="page-title">
    New Blog Post
  </h1>

  <form class="form" (submit)="onCreatePost(postForm.value)" [formGroup]="postForm">
    <div class="input-container">
      <label class="label" for="title">
        Title
      </label>
      <input
        type="text"
        class="text-input"
        id="title"
        required
        name="title"
        formControlName="title"
      />
    </div>
    
    <label class="label" for="content">
      Content
    </label>
    <textarea 
      class="textarea-input"
      id="content"
      formControlName="content"
      name="content"
      required>
    </textarea>

    <button
      class="button"
      type="submit"
      [disabled]="!postForm.valid"
    >
      Send Post
    </button>
  </form>
</section>
