$pink: #D11D67;
$white: #fff;

.navigation {
  position: sticky;
  align-items: center;
  display: flex;
  height: 77px;
  justify-content: space-between;
  width: 100%;
  background: $pink;
  color: $white;
  top: 0;
  padding: 0 2rem;
}

.navigation-link {
  margin-right: 1rem;
  
  &:last-child {
    margin-right: 0;
  }
}

.navigation-link--site {
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation--inverse-pink {
  background: $white;
  
  .navigation-link,
  .navigation-link-site {
    color: $pink;
  }
  
  .link:after {
    background: $pink;
  }
}
