<nav role="navigation" class="navigation" [class.navigation--inverse-pink]="rlaPost.isActive" [class.navigation--inverse-blue]="rlaBlog.isActive">
  <a class="navigation-link navigation-link--site link" routerLink="">
    OHDC
  </a>
  <div class="navigation-links">
    <a class="navigation-link link" routerLink="/blog" routerLinkActive #rlaBlog="routerLinkActive">
      Blog
    </a>
    <a class="navigation-link link" routerLink="/new-post" routerLinkActive #rlaPost="routerLinkActive">
      Create New Post
    </a>
  </div>
</nav>