<nav role="navigation" class="navigation" [class.navigation--inverse-pink]="rlaBlog.isActive">
  <a class="navigation-link navigation-link--site link" routerLink="">
    OHDC
  </a>
  <div class="navigation-links">
    <a class="navigation-link link" routerLink="/blog" routerLinkActive #rlaBlog="routerLinkActive">
      Blog
    </a>
    <a class="navigation-link link" *ngIf="isAuthenticated" routerLink="/new-post" routerLinkActive #rlaPost="routerLinkActive">
      Create New Post
    </a>
    <a class="navigation-link link" *ngIf="!isAuthenticated" routerLink="/auth" routerLinkActive #rlaAuth="routerLinkActive">Login</a>
  </div>
</nav>
