$white: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.page-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.link {
  position: relative;
  text-decoration: none;
  color: $white;
  
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: $white;
  transition: width .2s ease;
}
 
.link:hover:after{
  width: 100%;
  left: 0;
  background: $white;
}
